* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: #0d0d0d;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    background-color: #fffaf7;
    scroll-behavior: smooth;
}

[id] {
    scroll-margin-top: 52.5px;
}

h3 {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #8F3C00;
}


.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: -5;
}


.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 55vh;
    background-image: url(../img/platter.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;

    .hero-text {
        color: #f2f2f2;
        z-index: 5;

        h2 {
            text-align: center;
            font-size: 4.6rem;
        }

        p {
            text-align: center;
            font-size: 2rem;
        }
    }
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffecde;
    font-size: 3rem;

    .navbar-toggler {
        font-size: 3rem;
    }

    .navbar-nav {
        width: 100%;

        .nav-item {
            width: 25%;
            text-align: center;

            .nav-link {
                color: #8F3C00;

            }

            .active {
                color: #572400;
            }
        }
    }

}

.aboutus {


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .text-top {
        font-size: 2rem;
    }

    .text-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.8rem;

        button {
            color: #8F3C00;
            border: 1px solid #8F3C00;
            transition: color .2s linear, backgroung-color .2s linear;
        }

        button:hover {
            color: #f2f2f2;
            background-color: #8F3C00;
        }

    }

    .btn {
        font-size: 2rem;
    }

    .carousel {
        overflow: hidden;
    }

    .carousel-item {
        height: 400px;
    }

    .carousel-caption {
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, .6);
    }

}



.reservation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background-image: url(../img/bistro.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 0;

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #bfbfbf;
        z-index: 5;
    }

    .card-one {
        h4 {
            font-size: 6rem;
        }

        button {
            font-size: 3rem;
            color: #bfbfbf;
            background-color: transparent;
            border: 1px solid #bfbfbf;
            transition: color .2s linear, background-color .2s linear, ;
        }

        button:hover {
            background-color: #bfbfbf;
            color: #404040;
        }
    }

    .card-two {
        h4 {
            font-size: 3rem;
        }

        p {
            font-size: 2rem;
        }

        span {
            font-weight: bolder;
        }
    }
}


.tasting-menu {
    h3 {
        letter-spacing: 1px;
    }

    .card {
        box-shadow: 5px 5px 10px black;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 300px;

        h5 {
            font-size: 2.4rem;
            font-weight: bold;
        }

        p {
            font-size: 1.8rem;
            text-align: center;
        }

        button {
            font-size: 2rem;
            padding: 15px 40px;
            color: #8F3C00;
            border: 1px solid #8F3C00;
            transition: color .2s linear, background-color .2s linear;
        }

        button:hover {

            color: #f2f2f2;
            background-color: #8F3C00;

        }



    }
}

.contact {
    height: 100%;
    background-image: url(../img/abendbrot.jpg);
    color: #bfbfbf;

    h3 {
        color: #bfbfbf
    }

    .contact-details {
        h4 {
            font-size: 3.6rem;
        }

        p {
            font-size: 2rem;
        }
    }

    .form {
        p {
            font-size: 2rem;
            font-weight: 500;
        }

        label {
            font-size: 2rem;
            font-weight: 500;
        }

        input,
        textarea {
            background-color: transparent;
            font-size: 2rem;
            color: #f2f2f2;
        }

        button {
            color: #f2f2f2;
            font-size: 2rem;
            border: 1px solid #bfbfbf;
        }

        .dropdown-menu {
            background-color: #0d0d0d;

            a {
                color: #f2f2f2;
                font-size: 1.8rem;
            }

            a:hover {
                color: black;
            }
        }
    }

}

footer {
    background-color: black;
    color: #f2f2f2;
    font-size: 2rem;
}


@media(min-width:576) {
    [id] {
        scroll-margin-top: 62.5px;
    }
}

@media(min-width:768px) {
    .aboutus {
        .carousel-item {
            height: 600px;
        }

    }

}


@media(min-width:992px) {

    [id] {
        scroll-margin-top: 65px;
    }


    .hero-image {
        background-image: url(../img/platter-hq.jpg);
    }

    .contact {
        background-image: url(../img/abendbrot.jpg);
    }

    .aboutus {
        .carousel-item {
            height: 700px;
        }

    }

    .reservation {
        background-image: url(../img/bistro-hq.jpg);
        height: 45vh;

        .card-one {
            h4 {
                font-size: 8rem;
            }
        }
    }
}


@media(min-width:1024px) {
    .aboutus {
        .carousel-item {
            height: 800px;
        }
    }
}

@media(min-width:1400px) {
    .aboutus {

        .text-top {
            font-size: 2.4rem;
        }

        .text-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 2rem;

            button {
                font-size: 2.4rem;
            }
        }
    }
}